<div class="container">
    <!-- Navbar -->
    <nav class="navbar">
        <h1>Garage ParkAuto</h1>
    </nav>

    <!-- Titre -->
    <h2>Listes des véhicules</h2>

    <!-- Liste des véhicules -->
    <div class="vehicle-list">
        <ng-container *ngFor="let item of vehicules">
            <!-- Carte du véhicule -->
            <div class="card">
                <!-- Image du véhicule -->
                <img src="http://localhost:8086/images/{{item.image_vehicule}}" class="card-img-top" alt="image">
                
                <!-- Corps de la carte -->
                <div class="card-body">
                    <!-- Matricule -->
                    <div class="card-text">
                        <h5><i class="fas fa-car"></i> Immatriculation : {{item.matricule}}</h5>
                    </div>
                    <!-- Année du modèle -->
                    <div class="card-text">
                        <h5><i class="fas fa-calendar-alt"></i> Année : {{item.anneeModel}}</h5>
                    </div>
                    <!-- Prix -->
                    <div class="card-text">
                        <h5><i class="fas fa-dollar-sign"></i> Prix : {{item.prix}}€</h5>
                    </div>
                    <div class="card-text">
                        <button class="btn btn-primary fav m-1 md-raised" (click)="actionAddToCart(item)">Ajouter au panier</button>
                    </div>
                    <!-- Bouton -->
                    <button class="btn">Voir plus</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>
